gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
build/
lib/firebase_options.dart
lib/services/firebase_service.dart
lib/features/tiempos/data/datasources/clima_remote_datasource.dart
lib/features/tiempos/utils/clima_utils.dart
lib/features/tiempos/utils/parque_utils.dart
/android/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
